*{
    margin: 0;
    padding: 0;
}



main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

main button{
    width: 120px;
    border-radius: 5px;
    border: 2px solid black;
    color: white;
    padding: 5px;
    margin: 10px;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

#cyan{
    background-color: tomato;
}
